@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page-main-container">
        <div class="page-main-container-small full-width-responsive no-margin-responsive">
            <div class="slick-container">
                @{
                    var currentPage = new NavigationHelper.NavBarPage();
                    var currentCategory = new NavigationHelper.NavBarCategory();

                    if (!(ViewBag.CurrentCategory is null) && !(ViewBag.CurrentPage is null))
                    {
                        currentCategory = (aesob.org.tr.Utilities.NavigationHelper.NavBarCategory)ViewBag.CurrentCategory;
                        currentPage = (aesob.org.tr.Utilities.NavigationHelper.NavBarPage)ViewBag.CurrentPage;

                        <div class="header-24 padding-8 border-bottom text-black">@currentCategory.Header</div>
                        @foreach (var navigation in currentCategory.Items.Where(x => !x.HiddenInLayout))
                        {
                            var activeText = currentPage.Title == navigation.Title ? "active" : "";
                            <a class="block-link-dark padding-8 text-black @activeText" style="text-align:left" href="@Href("~/" + navigation.URL)">
                                <i class="fa fa-angle-right" style="pointer-events:none"></i>
                                @navigation.Title
                            </a>
                        }
                    }
                }
            </div>
        </div>
        <div class="page-main-container-large full-width-responsive no-margin-responsive">
            <div class="slick-container text-black">
                <div class="header-30 m-auto">@currentPage.Title</div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>